*{
    font-family: 'Satoshi Variable';
}

@font-face {
    font-family: 'Satoshi Variable';
    src: url('./assets/fonts/Satoshi-Variable.ttf') format('ttf')
  }

body{
    overflow: hidden;
}


.lime-green-switch .ant-switch {
    background-color: #ADD911;
}

  