* {
  font-family: "Satoshi-Variable";
}

@font-face {
  font-family: "Satoshi-Variable";
  src: url("./assets/fonts/Satoshi-Variable.ttf") format("WOFF"),
    url("./assets/fonts/Satoshi-Variable.ttf") format("WOFF2");
}

body {
  overflow: hidden;
}

.lime-green-switch .ant-switch {
  background-color: #add911;
}
